body{
    background-color: #FAF9F6;
    padding: 0;
    margin: 0;
}

.cardmaincontainer{
    border: 2px solid #e1c564;
    height: 700px;
    width: 900px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 1;

}

.cloud .babycloud1{
    height: 100px;
    width: 130px;
    border-radius: 50%;
    position: absolute;
    left: 50px;
    top: 550px;
    background-color: white;
    box-shadow: 8px 8px 8px 8px gray;
}
.cloud .babycloud2{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    left: 130px;
    top: 510px;
    background-color: white;
    box-shadow: 8px 8px 8px 8px gray;
}
.cloud .babycloud3{
    height: 100px;
    width: 130px;
    border-radius: 50%;
    position: absolute;
    left: 210px;
    top: 540px;
    background-color: white;
    box-shadow: 8px 8px 8px 8px gray;
}
.cloud .babycloud4{
    height: 120px;
    width: 150px;
    border-radius: 50%;
    position: absolute;
    left: 310px;
    top: 530px;
    background-color: white;
    box-shadow: 8px 8px 8px 8px gray;
}
.cloud .babycloud5{
    height: 50px;
    width: 50px;
    border-radius: 10%;
    position: absolute;
    left: 440px;
    top: 560px;
    background-color: white;
    transform: skew(10deg, 10deg);
    box-shadow: 8px 8px 8px 8px gray;
    
}
.cloud .babycloud6{
    height: 100px;
    width: 140px;
    border-radius: 50%;
    position: absolute;
    left: 435px;
    top: 510px;
    background-color: white;
    box-shadow: 8px 8px 8px 8px gray;
}
.cloud .babycloud7{
    height: 120px;
    width: 250px;
    border-radius: 50%;
    position: absolute;
    left: 560px;
    top: 520px;
    background-color: white;
    box-shadow: 3px 3px 3px 3px gray;
}
.cloudbottomline{
    height: 130px;
    width: 820px;
    position: absolute;
    background-color: #FAF9F6;
    left: 20px;
    top: 560px;
    z-index: 0;
}

.domb{
    background-color: orange;
    height: 130px;
    width: 250px;
    position: absolute;
    border-radius: 50% 50% 0 0;
    left: 325px;
    top: 230px;
}
.dombtip{
    background-color: orange;
    height: 25px;
    width: 15px;
    position: absolute;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    left: 440px;
    top: 210px;
}
.bar1{
    background-color: gray;
    height: 10px;
    width: 265px;
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    left: 317px;
    top: 330px;
}
.bar2{
    background-color: gray;
    height: 10px;
    width: 275px;
    position: absolute;
    border: 1px solid black;
    border-radius: 3px;
    left: 312px;
    top: 341px;
}
.bar3{
    background-color: gray;
    height: 50px;
    width: 275px;
    position: absolute;
    border: 1px solid black;
    clip-path: polygon(0 50%, 100% 50%, 98% 66%, 2% 66%);
    left: 312px;
    top: 327px;
}
.dombwall{
    background-color: orange;
    height: 190px;
    width: 255px;
    position: absolute;
    left: 323px;
    top: 363px;
    z-index: -5;
}
.window{
    height: 20px;
    width: 15px;
    background-color: black;
    position: absolute;
    border: 1px solid black;
    border-radius: 50px 50px 0 0;
    left: 330px;
    top: 375px;
    box-shadow: 25px 0 black,50px 0 black,75px 0 black,
    100px 0 black,125px 0 black,150px 0 black,175px 0 black,
    200px 0 black,225px 0 black
}
.dombdoorholder{
    background-color: orange;
    height: 115px;
    width: 225px;
    position: absolute;
    border: 2px solid black;
    left: 338px;
    top: 430px;
    z-index: -5;
}
.door{
    background-color: black;
    height: 100px;
    width: 50px;
    position: absolute;
    border-radius: 50px 50px 0 0;
    left: 10px;
    top: 30px;
    box-shadow: 155px 0 black;
}
.doormiddle{
    background-color: black;
    height: 120px;
    width: 80px;
    position: absolute;
    border-radius: 50px 50px 0 0;
    left: 70px;
    top: 5px;
}
.sidedomb1{
    background-color: orange;
    height: 125px;
    width: 140px;
    position: absolute;
    left: 180px;
    top: 430px;
    z-index: -6;
}
.sidedomb2{
    background-color: orange;
    height: 125px;
    width: 140px;
    position: absolute;
    left: 580px;
    top: 430px;
    z-index: -6;
}
.smalldomb{
    background-color: orange;
    height: 60px;
    width: 130px;
    position: absolute;
    border-radius: 50% 50% 0 0;
    left: 185px;
    top: 368px;
    box-shadow: 400px 0 orange;
    z-index: -6;
}
.smalldombtip1{
    background-color: orange;
    height: 25px;
    width: 5px;
    position: absolute;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    left: 245px;
    top: 345px;
}
.smalldombtip2{
    background-color: orange;
    height: 25px;
    width: 5px;
    position: absolute;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    left: 645px;
    top: 345px;
}
.smalldoor{
    background-color: black;
    height: 70px;
    width: 30px;
    position: absolute;
    border-radius: 50px 50px 0 0;
    left: 10px;
    top: 50px;
    box-shadow: 90px 0 black;
}
.smallmiddledoor{
    background-color: white;
    height: 90px;
    width: 50px;
    position: absolute;
    border-radius: 50px 50px 0 0;
    left: 45px;
    top: 25px;
}













.minar1{
    width: 50px;
    height: 100px;
    background-color: orange;
    position: absolute;
    left: 80px;
    top: 470px;
    clip-path: polygon(9% 0, 91% 0, 100% 100%, 0% 100%);
    border: 1px solid black;
    z-index: -6;
}
.minarjointer1{
    width: 50px;
    height: 30px;
    background-color: orange;
    position: absolute;
    clip-path: polygon(6% 30%, 95% 31%, 100% 50%, 92% 64%, 9% 64%, 0% 50%);
    left: 80px;
    top: 450px;
}
.innerminarjoin{
    width: 45px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    clip-path: polygon(6% 30%, 95% 31%, 100% 50%, 92% 64%, 9% 64%, 0% 50%);
}

.minar2{
    width: 45px;
    height: 100px;
    background-color: orange;
    position: absolute;
    left: 82px;
    top: 355px;
    clip-path: polygon(9% 0, 91% 0, 100% 100%, 0% 100%);
    border: 1px solid black;
}

.minarjointer2{
    width: 50px;
    height: 30px;
    background-color: orange;
    position: absolute;
    clip-path: polygon(6% 30%, 95% 31%, 100% 50%, 92% 64%, 9% 64%, 0% 50%);
    left: 80px;
    top: 335px;
}

.minar3{
    width: 40px;
    height: 90px;
    background-color: orange;
    position: absolute;
    clip-path: polygon(9% 0, 91% 0, 100% 100%, 0% 100%);
    border: 1px solid black;
    left: 84px;
    top: 250px;
}
.minarjointer3{
    width: 50px;
    height: 30px;
    background-color: orange;
    position: absolute;
    clip-path: polygon(6% 30%, 95% 31%, 100% 50%, 92% 64%, 9% 64%, 0% 50%);
    left: 80px;
    top:230px

}
.minar4{
    width: 35px;
    height: 85px;
    background-color: orange;
    position: absolute;
    left: 87px;
    top: 150px;
    clip-path: polygon(9% 0, 91% 0, 100% 100%, 0% 100%);
    border: 1px solid black;
}
.minarjointer4{
    width: 40px;
    height: 6px;
    background-color: black;
    position: absolute;
    border-radius: 5px;
    left: 85px;
    top: 143px;

}

.minarTomb{
    width: 35px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 50px 50px 0 0;
    left: 88px;
    top: 122px;
}
.tombStar{
    width: 3px;
    height: 15px;
    background-color: green;
    position: absolute;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    left: 103px;
    top: 106px;
}

.minarWindow{
    width: 25px;
    height: 40px;
    background-color: black;
    position: relative;
    border: 1px solid black;
    border-radius: 50px 50px 0 0;
    left: 11px;
    top: 25px;
}
.minarWindow2{
    width: 25px;
    height: 40px;
    background-color: black;
    position: relative;
    border: 1px solid black;
    border-radius: 50px 50px 0 0;
    left: 10px;
    top: 25px;
}
.minarWindow3{
    width: 25px;
    height: 38px;
    background-color: black;
    position: relative;
    border: 1px solid black;
    border-radius: 50px 50px 0 0;
    left: 8px;
    top: 25px;
}
.minarWindow4{
    width: 20px;
    height: 30px;
    background-color: black;
    position: relative;
    border: 1px solid black;
    border-radius: 50px 50px 0 0;
    left: 6px;
    top: 25px;
}




.minarfull2 .minar21{
    width: 50px;
    height: 100px;
    background-color: orange;
    position: absolute;
    left: 750px;
    top: 470px;
    clip-path: polygon(9% 0, 91% 0, 100% 100%, 0% 100%);
    border: 1px solid black;
    z-index: -6;
}

.minarjointer21{
    width: 50px;
    height: 30px;
    background-color: orange;
    position: absolute;
    clip-path: polygon(6% 30%, 95% 31%, 100% 50%, 92% 64%, 9% 64%, 0% 50%);
    left: 750px;
    top: 450px;
}

.innerminarjoin21{
    width: 45px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    clip-path: polygon(6% 30%, 95% 31%, 100% 50%, 92% 64%, 9% 64%, 0% 50%);
}

.minar22{
    width: 45px;
    height: 100px;
    background-color: orange;
    position: absolute;
    left: 752px;
    top: 355px;
    clip-path: polygon(9% 0, 91% 0, 100% 100%, 0% 100%);
    border: 1px solid black;
}

.minarjointer22{
    width: 50px;
    height: 30px;
    background-color: orange;
    position: absolute;
    clip-path: polygon(6% 30%, 95% 31%, 100% 50%, 92% 64%, 9% 64%, 0% 50%);
    left: 750px;
    top: 335px;
}
.innerminarjoin22{
    width: 45px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    clip-path: polygon(6% 30%, 95% 31%, 100% 50%, 92% 64%, 9% 64%, 0% 50%);
}
.minar23{
    width: 40px;
    height: 90px;
    background-color: orange;
    position: absolute;
    clip-path: polygon(9% 0, 91% 0, 100% 100%, 0% 100%);
    border: 1px solid black;
    left: 754px;
    top: 250px;
}
.minarjointer23{
    width: 50px;
    height: 30px;
    background-color: orange;
    position: absolute;
    clip-path: polygon(6% 30%, 95% 31%, 100% 50%, 92% 64%, 9% 64%, 0% 50%);
    left: 750px;
    top: 229px;
}
.innerminarjoin23{
    width: 45px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    clip-path: polygon(6% 30%, 95% 31%, 100% 50%, 92% 64%, 9% 64%, 0% 50%);
}
.minar24{
    width: 35px;
    height: 85px;
    background-color: orange;
    position: absolute;
    left: 756px;
    top: 149px;
    clip-path: polygon(9% 0, 91% 0, 100% 100%, 0% 100%);
    border: 1px solid black;
}
.minarjointer24{
    width: 40px;
    height: 6px;
    background-color: black;
    position: absolute;
    border-radius: 5px;
    left: 754px;
    top: 142px;

}

.minarTomb2{
    width: 35px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 50px 50px 0 0;
    left: 756px;
    top: 121px;
}
.tombStar2{
    width: 3px;
    height: 15px;
    background-color: green;
    position: absolute;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    left: 772px;
    top: 106px;
}

.minarWindow21{
    width: 25px;
    height: 40px;
    background-color: black;
    position: relative;
    border: 1px solid black;
    border-radius: 50px 50px 0 0;
    left: 11px;
    top: 25px;
}
.minarWindow22{
    width: 25px;
    height: 40px;
    background-color: black;
    position: relative;
    border: 1px solid black;
    border-radius: 50px 50px 0 0;
    left: 10px;
    top: 25px;
}
.minarWindow23{
    width: 25px;
    height: 38px;
    background-color: black;
    position: relative;
    border: 1px solid black;
    border-radius: 50px 50px 0 0;
    left: 8px;
    top: 25px;
}
.minarWindow24{
    width: 20px;
    height: 30px;
    background-color: black;
    position: relative;
    border: 1px solid black;
    border-radius: 50px 50px 0 0;
    left: 6px;
    top: 25px;
}