
  body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #art-container {
    position: relative;
    width: 545px;
    height: 545px;
    background-color: #ad908d;
   
}
#h-1{
    position: absolute;display:none;
    width: 10px;
    height: 100px;
    background-color: #000000;
    left: 415px;
    top: 104px;
  
}
#h-2{
    position: absolute;display:none;
    width: 12px;
    height: 134px;
    background-color: #000000;
    left: 403px;
    top: 83px;
  
}
#h-3{
  position: absolute;display:none;
  width: 11px;
  height: 155px;
  background-color: #000000;
  left: 392px;
  top: 71px;

}
#h-4{
  position: absolute;display:none;
  width: 11px;
  height: 112px;
  background-color: #000000;
  left:381px;
  top: 61px;

}
#h-5{
  position: absolute;display:none;
  width: 11px;
  height: 70px;
  background-color: #000000;
  left:370px;
  top: 61px;

}
#h-6{
  position: absolute;display:none;
  width: 60px;
  height: 40px;
  background-color: #000000;
  left:310px;
  top: 51px;

}
#h-7{
  position: absolute;display:none;
  width: 20px;
  height: 70px;
  background-color: #000000;
  left:350px;
  top: 61px;

}
#h-8{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #393636;
  left: 340px;
  top: 110px;

}
#h-9{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #393636;
  left: 330px;
  top: 91px;

}
#h-10{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #393636;
  left: 350px;
  top: 91px;
  z-index: 1;

}
#h-11{
  position: absolute;display:none;
  width: 10px;
  height: 20px;
  background-color: #000000;
  left:340px;
  top: 91px;

}
#h-12{
  position: absolute;display:none;
  width: 20px;
  height: 11px;
  background-color: #393636;
  left: 361px;
  top: 131px;

}
#h-13{
  position: absolute;display:none;
  width: 11px;
  height: 21px;
  background-color: #393636;  
  left: 370px;
  top: 141px;
}
#h-14{
  position: absolute;display:none;
  width: 10px;
  height: 13px;
  background-color: #393636;  
  left: 415px;
  top: 204px;
}
#h-15{
  position: absolute;display:none;
  width: 11px;
  height: 30px;
  background-color: #393636;  
  left: 382px;
  top: 188px;
}
#h-16{
  position: absolute;display:none;
  width: 80px;
  height: 40px;
  background-color: #000000;
  left:230px;
  top: 51px;
}
#h-17{
  position: absolute;display:none;
  width: 22px;
  height: 11px;
  background-color: #393636;
  left: 285px;
  top:80px;
}
#h-18{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #393636;
  left: 230px;
  top: 41px;
}
#h-19{
  position: absolute;display:none;
  width: 61px;
  height: 10px;
  background-color: #000000;
  left: 240px;
  top: 41px;
}
#h-20{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #393636;
  left: 301px;
  top: 41px;
}
#h-21{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #393636;
  left: 220px;
  top: 51px;
}
#h-22{
  position: absolute;display:none;
  width: 10px;
  height: 30px;
  background-color: #000000;
  left: 220px;
  top: 61px;
}
#h-23{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #393636;
  left: 210px;
  top: 71px;
}
#h-24{
  position: absolute;display:none;
  width: 30px;
  height: 22px;
  background-color: #000000;
  left: 198px;
  top: 81px;
  z-index: 1;
}
#h-25{
  position: absolute;display:none;
  width: 12px;
  height: 30px;
  background-color: #393636;
  left: 198px;
  top: 51px;
}
#h-26{
  position: absolute;display:none;
  width: 11px;
  height: 30px;
  background-color: #393636;
  left: 187px;
  top: 61px;
}
#h-27{
  position: absolute;display:none;
  width: 45px;
  height: 30px;
  background-color: #000000;
  left: 169px;
  top: 91px;
}
#h-28{
  position: absolute;display:none;
  width: 10px;
  height: 20px;
  background-color: #393636;
  left: 169px;
  top: 91px;
}
#h-29{
  position: absolute;display:none;
  width: 20px;
  height: 12px;
  background-color: #393636;
  left: 220px;
  top: 91px;
}
#h-30{
  position: absolute;display:none;
  width: 20px;
  height: 10px;
  background-color: #393636;
  left: 209px;
  top: 103px;
}
#h-31{
  position: absolute;display:none;
  width: 20px;
  height: 20px;
  background-color: #000000;
  left: 180px;
  top: 121px;
}
#h-32{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #393636;
  left: 190px;
  top: 131px;
}
#h-33{
  position: absolute;display:none;
  width: 20px;
  height: 20px;
  background-color: #393636;
  left: 200px;
  top: 121px;
}
#h-34{
  position: absolute;display:none;
  width: 11px;
  height: 10px;
  background-color: #393636;
  left: 209px;
  top: 113px;
}
#h-35{
  position: absolute;display:none;
  width: 20px;
  height: 40px;
  background-color: #000000;
  left: 170px;
  top: 141px;
}
#h-36{
  position: absolute;display:none;
  width: 20px;
  height: 40px;
  background-color: #393636;
  left: 190px;
  top: 141px;
}
#h-37{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #000000;
  left: 190px;
  top: 141px;
}
#h-38{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #393636;
  left: 170px;
  top: 181px;
}
#h-39{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #393636;
  left: 190px;
  top: 181px;
}
#h-40{
  position: absolute;display:none;
  width: 20px;
  height: 10px;
  background-color: #393636;
  left: 180px;
  top: 191px;
}
#h-41{
  position: absolute;display:none;
  width: 30px;
  height: 20px;
  background-color: #393636;
  left: 180px;
  top: 201px;
}
#h-42{
  position: absolute;display:none;
  width: 11px;
  height: 10px;
  background-color: #000000;
  left: 180px;
  top: 201px;
}
#h-43{
  position: absolute;display:none;
  width: 10px;
  height: 40px;
  background-color: #393636;
  left: 180px;
  top: 221px;
}
#h-44{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #000000;
  left: 190px;
  top: 221px;
}
#h-45{
  position: absolute;display:none;
  width: 20px;
  height: 20px;
  background-color: #393636;
  left: 180px;
  top: 261px;
}
#h-46{
  position: absolute;display:none;
  width: 10px;
  height: 32px;
  background-color: #393636;
  left: 190px;
  top: 281px;
}
#h-47{
  position: absolute;display:none;
  width: 20px;
  height: 20px;
  background-color: #393636;
  left: 200px;
  top: 303px;
}
#h-48{
  position: absolute;display:none;
  width: 20px;
  height: 11px;
  background-color: #393636;
  left: 210px;
  top: 323px;
}
#h-49{
  position: absolute;display:none;
  width: 30px;
  height: 10px;
  background-color: #000000;
  left: 200px;
  top: 334px;
}

#h-50{
  position: absolute;display:none;
  width: 70px;
  height: 10px;
  background-color: #393636;
  left: 230px;
  top: 334px;
}
#h-51{
  position: absolute;display:none;
  width: 90px;
  height: 10px;
  background-color: #393636;
  left: 310px;
  top: 334px;
}
#h-52{
  position: absolute;display:none;
  width: 40px;
  height: 10px;
  background-color: #393636;
  left: 340px;
  top: 324px;
}
#h-53{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #000000;
  left: 380px;
  top: 324px;
}
#h-54{
  position: absolute;display:none;
  width: 20px;
  height: 10px;
  background-color: #393636;
  left: 370px;
  top: 314px;
}
#h-55{
  position: absolute;display:none;
  width: 20px;
  height: 10px;
  background-color: rgb(247, 238, 238);
  left: 392px;
  top: 246px;
}
#h-56{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #393636;
  left: 210px;
  top: 171px;
}
#h-57{
  position: absolute;display:none;
  width: 20px;
  height: 30px;
  background-color: #393636;
  left: 220px;
  top: 171px;
}
#h-58{
  position: absolute;display:none;
  width: 20px;
  height: 30px;
  background-color: #393636;
  left: 240px;
  top: 181px;
}
#h-59{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #000000;
  left: 220px;
  top: 171px;
}
#h-60{
  position: absolute;display:none;
  width: 30px;
  height: 10px;
  background-color: #000000;
  left: 250px;
  top: 191px;
  z-index: 1;
}
#h-61{
  position: absolute;display:none;
  width: 10px;
  height: 50px;
  background-color: #393636;
  left: 270px;
  top: 181px;
}
#h-62{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #000000;
  left: 270px;
  top: 211px;
}
#h-63{
  position: absolute;display:none;
  width: 50px;
  height: 10px;
  background-color: #393636;
  left: 280px;
  top: 231px;
  z-index: 2;
}
#h-64{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #000000;
  left: 290px;
  top: 231px;
  z-index: 2;

}
#h-65{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #000000;
  left: 310px;
  top: 231px;
  z-index: 2;
}
#h-66{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: rgb(247, 238, 238);
  left: 270px;
  top: 241px;
}
#h-67{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: rgb(247, 238, 238);
  left: 280px;
  top: 251px;
}
#h-68{
  position: absolute;display:none;
  width: 40px;
  height: 20px;
  background-color: rgb(247, 238, 238);
  left: 300px;
  top: 231px;
  z-index: 1;
}
#h-69{
  position: absolute;display:none;
  width: 30px;
  height: 10px;
  background-color: rgb(247, 238, 238);
  left: 310px;
  top: 251px;

}
#h-70{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #000000;
  left: 280px;
  top: 181px;
}
#h-71{
  position: absolute;display:none;
  width: 30px;
  height: 20px;
  background-color: #393636;
  left: 290px;
  top: 171px;
}
#h-72{
  position: absolute;display:none;
  width: 30px;
  height: 10px;
  background-color: #000000;
  left: 320px;
  top: 181px;
}
#h-73{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #393636;
  left: 350px;
  top: 181px;
}
#h-74{
  position: absolute;display:none;
  width: 51px;
  height: 10px;
  background-color: #000000;
  left: 330px;
  top: 191px;
}
#h-75{
  position: absolute;display:none;
  width: 10px;
  height: 20px;
  background-color: #000000;
  left: 330px;
  top: 201px;
}
#h-76{
  position: absolute;display:none;
  width: 10px;
  height: 20px;
  background-color: #393636;
  left: 320px;
  top: 191px;
}
#h-77{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #393636;
  left: 310px;
  top: 201px;
}
#h-78{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #393636;
  left: 340px;
  top: 201px;
}
#h-79{
  position: absolute;display:none;
  width: 10px;
  height: 20px;
  background-color: #000000;
  left: 240px;
  top: 211px;
}
#h-80{
  position: absolute;display:none;
  width: 10px;
  height: 30px;
  background-color: #393636;
  left: 240px;
  top: 231px;
}
#h-81{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #393636;
  left: 230px;
  top: 251px;
}
#h-82{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #393636;
  left: 220px;
  top: 231px;
}
#h-83{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #000000;
  left: 210px;
  top: 231px;
}
#h-84{
  position: absolute;display:none;
  width: 30px;
  height: 10px;
  background-color: #373639;
  left: 220px;
  top: 271px;
}
#h-85{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #393636;
  left: 230px;
  top: 281px;
}
#h-86{
  position: absolute;display:none;
  width: 30px;
  height: 10px;
  background-color: #393636;
  left: 240px;
  top: 302px;
}
#h-87{
  position: absolute;display:none;
  width: 70px;
  height: 10px;
  background-color: rgb(247, 238, 238);
  left: 250px;
  top: 161px;
}
#h-88{
  position: absolute;display:none;
  width: 20px;
  height: 10px;
  background-color: rgb(247, 238, 238);
  left: 290px;
  top: 151px;
}
#h-89{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: rgb(247, 238, 238);
  left: 300px;
  top: 141px;
}
#h-90{
  position: absolute;display:none;
  width: 20px;
  height: 10px;
  background-color: rgb(247, 238, 238);
  left: 290px;
  top: 131px;
}
#h-91{
  position: absolute;display:none;
  width: 30px;
  height: 10px;
  background-color: #393636;
  left: 240px;
  top: 31px;
}
#h-92{
  position: absolute;display:none;
  width: 52px;
  height: 70px;
  background-color: #000000;
  left: 178px;
  top: 344px;
}
#h-93{
  position: absolute;display:none;
  width: 22px;
  height: 40px;
  background-color: #000000;
  left: 156px;
  top: 354px;
}
#h-94{
  position: absolute;display:none;
  width: 50px;
  height: 10px;
  background-color: #000000;
  left: 106px;
  top: 354px;
}
#h-95{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #000000;
  left: 146px;
  top: 364px;
}
#h-96{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #373639;
  left: 168px;
  top: 344px;
}
#h-97{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #373639;
  left: 115px;
  top: 344px;
}
#h-98{
  position: absolute;display:none;
  width: 60px;
  height: 40px;
  background-color: #373639;
  left: 86px;
  top: 364px;
}
#h-99{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #373639;
  left: 96px;
  top: 354px;
}
#h-100{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #373639;
  left: 76px;
  top: 374px;
}
#h-101{
  position: absolute;display:none;
  width: 10px;
  height: 50px;
  background-color: #000000;
  left: 76px;
  top: 384px;
}
#h-102{
  position: absolute;display:none;
  width: 10px;
  height: 50px;
  background-color: #000000;
  left: 76px;
  top: 444px;
}
#h-103{
  position: absolute;display:none;
  width: 10px;
  height: 20px;
  background-color: #000000;
  left: 76px;
  top: 524px;
}
#h-104{
  position: absolute;display:none;
  width: 10px;
  height: 30px;
  background-color: #373639;
  left: 76px;
  top: 494px;
}
#h-105{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #373639;
  left: 76px;
  top: 434px;
}
#h-106{
  position: absolute;display:none;
  width: 100px;
  height: 130px;
  background-color: #373639;
  left: 86px;
  top: 414px;
}
#h-107{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #000000;
  left: 86px;
  top: 404px;
}
#h-108{
  position: absolute;display:none;
  width: 82px;
  height: 10px;
  background-color: #373639;
  left: 96px;
  top: 404px;
}
#h-109{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #000000;
  left: 156px;
  top: 404px;
}
#h-110{
  position: absolute;display:none;
  width: 32px;
  height: 10px;
  background-color: #373639;
  left: 146px;
  top: 394px;
}
#h-111{
  position: absolute;display:none;
  width: 10px;
  height: 20px;
  background-color: #373639;
  left: 146px;
  top: 374px;
}
#h-112{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #000000;
  left: 166px;
  top: 424px;
}
#h-113{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #000000;
  left: 156px;
  top: 454px;
}
#h-114{
  position: absolute;display:none;
  width: 10px;
  height: 20px;
  background-color: #000000;
  left: 146px;
  top: 494px;
}
#h-115{
  position: absolute;display:none;
  width: 10px;
  height: 60px;
  background-color: #000000;
  left: 106px;
  top: 484px;
}
#h-116{
  position: absolute;display:none;
  width: 20px;
  height: 10px;
  background-color: #000000;
  left: 56px;
  top: 444px;
}
#h-117{
  position: absolute;display:none;
  width: 30px;
  height: 10px;
  background-color: #000000;
  left: 46px;
  top: 434px;
}
#h-118{
  position: absolute;display:none;
  width: 10px;
  height: 20px;
  background-color: #000000;
  left: 56px;
  top: 414px;
}
#h-119{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #373639;
  left: 56px;
  top: 434px;
}
#h-120{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #373639;
  left: 46px;
  top: 424px;
}
#h-121{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color: #373639;
  left: 56px;
  top: 404px;
}
#h-122{
  position: absolute;display:none;
  width: 10px;
  height: 40px;
  background-color: #373639;
  left: 66px;
  top: 394px;
}
#h-123{
  position: absolute;display:none;
  width: 50px;
  height: 90px;
  background-color: #373639;
  left: 26px;
  top: 454px;
}
#h-126{
  position: absolute;display:none;
  width: 26px;
  height: 30px;
  background-color: #373639;
  left: 0;
  top: 515px;
}
#h-127{
  position: absolute;display:none;
  width: 15px;
  height: 25px;
  background-color:#373639;
  left: 11px;
  top: 490px;
}
#h-128{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color:#000000;
  left: 66px;
  top: 514px;
}
#h-129{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color:#000000;
  left: 56px;
  top: 524px;
}
#h-130{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color:#000000;
  left: 46px;
  top: 514px;
}
#h-131{
  position: absolute;display:none;
  width: 10px;
  height: 20px;
  background-color:#000000;
  left: 0;
  top: 525px;
}
#h-132{
  position: absolute;display:none;
  width: 20px;
  height: 10px;
  background-color:#000000;
  left: 10px;
  top: 515px;
}
#h-133{
  position: absolute;display:none;
  width: 10px;
  height: 10px;
  background-color:#000000;
  left: 11px;
  top: 497px;
}
#h-134{
  position: absolute;display:none;
  width: 10px;
  height: 25px;
  background-color:#000000;
  left: 26px;
  top: 460px;
}