nav{
    display: flex;
    position: fixed;
    width: 100%;
    height: 50px;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;  
    z-index: 1001;
    background: #000000;
}
.scrolled{
    background-color: red
}

.logo{
    width: 220px;
    height: 80px;
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
    color: red;
}

.burgermenue{
    position: relative;
    font-size:30px;
    cursor:pointer;
    color: #FF3131;
    display: flex;
    float: left;
    margin-bottom: 10px;
    margin-right: 40px;
}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
  }
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .overlay .closebtn {
    position: absolute;
    top: 100px;
    right: 50px;
    font-size: 50px;
    color: red;
  }

/* 980 px */
@media (max-width: 62em) {
    .navbar-list{
        display: none;
    }
    .logo{
        width: 140px;
        height: 50px; 
    }
    .cursor{
        display: none;
    }

}

@media (pointer:coarse) {
    .cursor {
        display: none;
    }
}