body,
html {
    margin: 5px;
    padding: 0;
    height: 100%;
}
a{
    text-decoration: none;
    color: white
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    width: 0;
    height: 0;
    animation: logoEmerge 7s ease-out;
}

.container {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


.main-div {
    width: 500px;
    height: 700px;
    box-shadow: 5px 5px 10pxrgb(83, 79, 79);
    display: flex;
    flex-direction: column;
}


.dummy-text {
    font-family: 'Libre Baskerville', serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 10px;
    font-weight: 900;
    top: 50%;
    text-align: center;
}

.move-text {
    position: relative;
    width: 250px;
    height: 50px;
    top: -5%;
    left: 10%;
    justify-content: center;
    transform: translate(-50%, -50%);
    animation: updown2 5s ease infinite;
}

.section:first-child {
    height: 400px;
    background-color: #FF6F61;
    position: relative;
}

.section:nth-child(2) {
    height: 150px;
    background-color: #FFD166;
    box-shadow: 2px 2px 10px #533c24 inset;
}

.section:nth-child(3) {
    height: 96px;
    background-color: #06D6A0;
    box-shadow: 2px 2px 10px #255959 inset;
}

.section:nth-child(4) {
    height: 96px;
    background-color: #118AB2;
    box-shadow: 2px 2px 10px #1b353e inset;
    /* Dark Cyan Blue */
}

.section:nth-child(5) {
    height: 97px;
    background-color: #FF6F61;
    box-shadow: 2px 2px 10px #0c0504 inset;
    /* Deep Teal */
}

.image-div {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../images/myimage.png");
    background-color: #FF6F61;
    background-position: 50% 30%;
    background-size: cover;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px #af3535;
    z-index: 100;
}

@keyframes logoEmerge {
    0% {
        width: 20px;
        height: 10px;
    }

    100% {
        width: 200px;
        height: 100px;
    }
}

@media only screen and (max-width: 700px) {
    .main-div {
        width: 100%;
        height: 100%;
    }
}

/* @media only screen and (max-width: 700px) {
    .image-div {}
} */


@keyframes updown {
    0% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(-10%);
    }
}

@keyframes updown2 {
    0% {
        transform: translateY(-5%);
    }

    50% {
        transform: translateY(5%);
    }

    100% {
        transform: translateY(-5%);
    }
}

.link-icon {
    position: relative;
    width: 25px;
    height: 25px;
    top: 50%;
    left: 10%;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.link-icon-img {
    position: relative;
    width: 25px;
    height: 25px;
    animation: updown 5s ease infinite;
}

#icon-1 {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 5px;
    left: 1%;
    animation: updown 5s ease infinite;
}



#icon-2 {
    position: absolute;
    top: 90%;
    left: 45%;
    transform: rotate(45deg);
    animation: updown 5s ease infinite;
}

#icon-3 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 190px;
    left: 85%;
    transform: rotate(45deg);
    animation: updown2 3s ease infinite;
}

#icon-4 {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 140px;
    left: 37%;
    animation: updown 5s ease infinite;
}

#icon-5 {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 130px;
    left: 7%;
    transform: rotate(-100deg);
    animation: updown 5s ease infinite;
}

#icon-6 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 180px;
    left: 28%;
    animation: updown2 3s ease infinite;

}

#icon-7 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 200px;
    left: 10%;
    animation: updown2 3s ease infinite;
}

#icon-8 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 85%;
    left: 29%;
    animation: updown 5s ease infinite;
}

#icon-9 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 85%;
    left: 78%;
    animation: updown 5s ease infinite;
}

#icon-10 {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 35px;
    left: 70%;
    animation: updown2 3s ease infinite;
}

#icon-11 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 83%;
    left: 3%;
    animation: updown 5s ease infinite;
}

#icon-12 {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 90%;
    left: 92%;
}

#icon-13 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 155px;
    left: 53%;
    animation: updown2 3s ease infinite;
}

#icon-14 {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 175px;
    left: 65%;

}

#icon-15 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 60px;
    left: 85%;
    animation: updown2 3s ease infinite;
}

#icon-16 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 20px;
    left: 20%;
    animation: updown2 3s ease infinite;
}

#icon-17 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    left: 90%;
    animation: updown 5s ease infinite;
}

#icon-18 {
    position: absolute;
    top: 55px;
    left: 5%;
    transform: rotate(-100deg);
    animation: updown 5s ease infinite;
}

#icon-19 {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 100px;
    left: 70%;
    animation: updown2 3s ease infinite;
}

#icon-20 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 125px;
    left: 85%;
    transform: rotate(20deg);
}

#icon-23 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 225px;
    left: 45%;
    transform: rotate(40deg);
    animation: updown2 3s ease infinite;
}

#icon-24 {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 80%;
    left: 65%;
    animation: updown2 3s ease infinite;

}

#icon-25 {
    position: absolute;
    width: 35px;
    height: 35px;
    top: 85px;
    left: 17%;

}

#icon-26 {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 275px;
    left: 15%;
    animation: updown2 3s ease infinite;
}


@media only screen and (max-width: 700px) {
    .main-div {
        width: 100%;
        height: 100%;
    }
}