
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Rubik+Wet+Paint&family=Sedgwick+Ave+Display&display=swap');




.banner
{
 position: absolute;
 width: 100%;
 height: 100vh;
 overflow: hidden;
 display: flex;
 justify-content: center;
 align-items: center;
}

.spider
{
    position: absolute;
    top: 0;
    opacity: 0.3;
    animation: animateSpider 15s ease-in-out infinite;
}
@keyframes animateSpider
{
    0%
    {
        transform: translateY(-500px);
    }
    50%
    {
        transform: translateY(0px);
    }
    100%
    {
        transform: translateY(-500px);
    }
}
.zoom1
{
    position: absolute;
    top: 100px;
    right: 200px;
    opacity: 0.2;
    animation: animateZoom1 5s ease-in-out infinite;

}
@keyframes animateZoom1 {
    0%
    {
        transform: translateY(-50px);
    
    }
    50%
    {
        transform: translateY(50px);
    }
    100%
    {
        transform: translateY(-50px);
    }
}

.zoom2
{
    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: 1;
    opacity: 0.3;
    animation: animateZoom2 2s ease-in-out infinite;
}
@keyframes animateZoom2 {
    0%
    {
        transform: translateY(-50px);
    
    }
    50%
    {
        transform: translateY(50px);
    }
    100%
    {
        transform: translateY(-50px);
    }
}
.spiderweb
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: screen;
    opacity: 0.2;
}
.myname
{
    position: relative;
    font-family: Georgia, serif;
    color: orange;
    font-size: 2.6vw;
    font-weight: 100;
    z-index: 1;
}
.myname span{
    position: relative;
    color: orange;
    display: inline-block;
    animation: wavyname 5s ease-in-out infinite;
    animation-delay: calc(0.2s * var(--i));
  }

  @keyframes wavyname
  {
    0%
    {
        transform: translateY(0px);
    }
    20%
    {
        transform: translateY(-20px);
    }
    40%,100%
    {
        transform: translateY(0px);
    }
  }
@media (max-width: 768px) {
    .myname {
      height: 30px;
      /* Adjust height for smaller screens */
      font-size: 4vw;
      /* Larger responsive font size for medium devices */
    }
  }
  
  @media (max-width: 480px) {
    .myname {
      height: 25px;
      /* Further adjust for smaller screens */
      font-size: 4vw;
      /* Even larger responsive font size for small devices */
    }
  }
.bug
{
    position: absolute;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 2vw;
    bottom: 200px;
    left: 145px;
    z-index: 1;
    animation: bugTxt1 2s infinite;
}
@keyframes bugTxt1
{
    0%
    {
        opacity: 0;
    }
    25%
    {
        opacity: .5;
        color: rgb(244, 8, 8);
    }
    50%
    {
        opacity: 1;
        color: rgb(244, 8, 8);
    }
    100%
    {
        opacity: 0;
    }
}

.error
{
    position: absolute;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 1vw;
    top: 220px;
    right: 250px;
    z-index: 1;
    animation: errorTxt1 5s linear infinite;
}
@keyframes errorTxt1
{
    0%
    {
        opacity: 0;
    }
    25%
    {
        opacity: 0;
    }
    50%
    {
        opacity: 1;
        color: rgb(244, 8, 8);
    }
    70%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 0;
    }
}


/* 980 px */
@media (max-width: 62em) {
    .spider{
        width: 500px;
        height: 500px;
        animation: animateSpider980 5s ease-in-out infinite;
    }
    @keyframes animateSpider980
    {
        0%
        {
            transform: translateY(-200px);
        }
        50%
        {
            transform: translateY(0px);
        }
        100%
        {
            transform: translateY(-200px);
        }
    }
    .zoom1{
        display: none;
    }
    .zoom2{
        display: none;
    }
    .bug{
        font-size: 5vw;
        top: 280px;
        left: 20px;
    }
    .error{
        font-size: 3vw;
        top: 280px;
        right: 20px;
    }


}

/* 700 px */
@media (max-width: 700px) {
    .spider{
        width: 400px;
        height: 400px;
    }
    .spiderweb
    {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        mix-blend-mode: screen;
        opacity: 0.5;
    }

}